<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.king.iscflutterplugin">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序写入录像文件和抓图 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
